<!DOCTYPE html>
<h1>edit a reservation</h1>
<form class="col-sm-8 col-sm-offset-2 text-center"
      name="theForm"
      novalidate = "novalidate">
  <div class="form-group" ng-class="
    {
      'has-error':!theForm.guest.$valid && (!theForm.guest.$pristine || theForm.$submitted),
      'has-success':theForm.guest.$valid
    }
  ">
  <label for="Name" >find reservation by name</label>
    <input type="text"
           class="form-control"
           ng-model="formModel.Name"
           id="name"
           name="guest"
           required="required">
    <p class="help-block" ng-show="theForm.guest.$error.required && (!theForm.guest.$pristine || theForm.$submitted)">
      this field is required
    </p>

  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="search(theForm)" type="submit">search
    </button>
  </div>
</form>



<form class="col-sm-8 col-sm-offset-2 text-center" method="POST" action="/update">
  <label>Guest Name</label><br>
  <input type="text" placeholder="name" name="Name" ng-model="newModel.name"><br>
  <label>Arrival Time</label><br>
  <input type="text" placeholder="time" name="Time" ng-model="newModel.Time"><br>
   <label>Guest Count</label><br>
  <input type="text" placeholder="count" name="Guest_Count" ng-model="newModel.Guest_Count"><br>
  <label>Guest Allergies</label><br>
  <input type="text" placeholder="allergy" name="allergies" ng-model="newModel.allergies"><br>
  <label>Special Accommodations</label><br>
  <input type="text" placeholder="special accommodations" name="spc_accommodations" ng-model="newModel.spc_accommodations"><br>
  <label>Table ID</label><br>
  <input type="text" placeholder="table ID" name="TableID" ng-model="newModel.TableID"><br>
  <button type="submit">submit</button>
</form>
