<!DOCTYPE html>
<h1>edit a reservation</h1>
<br>
<br>
<div class="col-sm-8 col-sm-offset-2 text-center">
<form class="col-md-6 col-sm-6 col-xs-12"
      name="theForm"
      novalidate = "novalidate">
  <div class="form-group" ng-class="
    {
      'has-error':!theForm.guest.$valid && (!theForm.guest.$pristine || theForm.$submitted),
      'has-success':theForm.guest.$valid
    }
  ">
  <label for="Name" >find reservation by name</label>
    <input type="text"
           class="form-control"
           ng-model="formModel.Name"
           id="name"
           name="guest"
           required="required">
    <p class="help-block" ng-show="theForm.guest.$error.required && (!theForm.guest.$pristine || theForm.$submitted)">
      this field is required
    </p>

  </div>
  <div class="form-group">
    <button class="btn btn-default" ng-click="search(theForm)" type="submit">search
    </button>
  </div>
</form>
</div>


<!DOCTYPE html>
<form action="/update" method="POST" class="col-sm-8 col-sm-offset-2 text-center" >
  <div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <i class="icon-calendar"></i>
              <h3 class="panel-title">input party</h3>
            </div>
                  <div class="panel-body">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon">host name</span>
                      <input type="text"
                             name="Name"
                             ng-model="newModel.name"
                             class="form-control input-lg"
                             placeholder="">
                    </div>
                    <br>
                    <br>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon">arrival time</span>
                      <input type="text"
                             name="Time"
                             ng-model="newModel.Time"
                             class="form-control input-lg"
                             placeholder="">
                    </div>
                    <br>
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon">guest count</span>
                      <input type="text"
                             name="Guest_Count"
                             ng-model="newModel.Guest_Count"
                             class="form-control input-lg"
                             placeholder="">
                    </div>

                  <br>

                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">dietary restrictions</span>
                    <input type="text"
                           name="allergies"
                           ng-model="newModel.allergies"
                           class="form-control input-lg"
                           placeholder="">
                  </div>
                    <br>
                  <div class="form-group">
                    <label for="spc_accommodations">Special Accommodations:</label>
                    <textarea class="form-control" rows="5" name="spc_accommodations" id="spc_accommodations" ng-model="newModel.spc_accommodations"></textarea>
                  </div>
                  <br>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">Table ID</span>
                    <input type="text"
                           name="TableID"
                           ng-model="newModel.TableID"
                           class="form-control input-lg"
                           placeholder="">
                  </div>
                  <br>
                  <button type="submit" button class="btn btn-default">submit</button>
                </div>
             </div>
           </div>
        </div>
  </div>
</div>
</form>
