<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>'heyboi'</title>
  </head>
  <body>
    <ul class="reservations">
      <% for(var i=0; i<reservations.length; i++) {%>
        <li class="reservation">
          <span><%= reservations[i].name %></span>
          <span><%= reservations[i].reservation %></span>
        </li>
      <% } %>
    </ul>
    <form action="/reservation" method="POST">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="reservation" name="reservation">
      <button type="submit">shoot</button>
    </form>
    <!-- <form action="/reservation" method="GET">
      <button type="submit">show me something</button>
    </form> -->
  </body>
</html>
